* {
  box-sizing: border-box;
}

.contents {
  display: flex;
  justify-content: space-between;
}

.background-formatter {
  width: 74.5vw;
  height: 90vh;
  background-image: url('../assets/Dock_2020.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.character {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transition: all 1s ease;
}

.chat {
  width: 24vw;
  border: 1px solid black;
  border-radius: 8px;
}
