* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.contents {
  display: flex;
  justify-content: space-between;
}

.background-formatter {
  width: 74.5vw;
  height: 90vh;
  background-image: url("../assets/Dock_2020.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.character {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transition: all 1s ease;
}

.chat {
  background-color: #d4dbf5;
  width: 24vw;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.post-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h2 {
  padding: 8px;
  margin: 8px 0px;
}

.header {
  display: flex;
  justify-content: space-around;
}

.flex3 {
  flex-grow: 3;
}

.login-button {
  flex-grow: 1;
  margin: 8px;
  font-size: 20px;
  font-weight: bold;
}

.post {
  background-color: #f2f2f2;
  box-shadow: 2px 2px grey;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.post-content {
  padding: 8px;
  width: 200px;
  flex-grow: 1;
}

.post-input {
  display: flex;
  flex-direction: row;
  height: 5%;
  margin: 8px;
}

.post-input button {
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  padding: 9px;
  width: 100px;
}

.post-input input {
  margin-right: 0;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: none;
  padding: 10px;
  padding-left: 15px;
  border: 1px solid lightgrey;
  width: 80%;
}

.bold {
  font-weight: bold;
  margin: 0px 0px;
}

.text {
  margin: 4px 0px;
}
